<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="slidercheck.css">
</head>
<body>
    <div class="slider-container">
    <div class="content" id="myDiv">
      <div class="fb"><img src="./facebook.png"><p>This Is FaceBook</p></div>
      <div class="fb"><img src="./github.png"><p>This Is Github</p></div>
      <div class="fb"><img src="./html-5.png"><p>This Is Html-5</p></div>
      <div class="fb"><img src="./instagram.png"><p>This Is instagram</p></div>
      <div class="fb"><img src="./instagram.png"><p>This Is instagram</p></div>
      <div class="fb"><img src="./github.png"><p>This Is Github</p></div>
</div><div id="buttons">
<button id="left"></button><button id="right">"+"</button></div>
        </div>
  <script src="slidercheck.js"></script>
    
</body>
</html>